/*!
global > z-index
------------------------------
*/
:root {
    --z-index-modal: 100;
    --z-index-header-entry: 40;
    --z-index-header: 30;
    --z-index-menu: 10;
    --z-index-default: 5;
    --z-index-background: 1;
}