@use "../global" as g;

/*!
layout > container
------------------------------
*/
.l-container-s {
    width: min(91%, var(--width-content-s));
    margin-inline: auto;
}

.l-container {
    width: min(91%, var(--width-content));
    margin-inline: auto;
}
.l-container-l {
    width: min(91%, var(--width-content-l));
    margin-inline: auto;
}
