@use "../global" as g;

/*!
layout > header
------------------------------
*/
.l-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-index-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: var(--color-bg-header);
    @include g.mq(md) {
    }
}

.l-header-logo {
    margin-left: 20rem;
    width: 156rem;
    height: auto;
    img {
        width: 100%;
        height: 100%;
    }
    @include g.mq(md) {
        margin-left: 70rem;
        width: 300rem;
        height: auto;
    }
}

.l-header-nav-wrapper {
    @include g.mq(md) {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 64rem;
        gap: 64rem;
    }
}

.l-header-nav {
    display: none;
    @include g.mq(md) {
        display: block;
    }
}

.l-header-list {
    @include g.mq(md) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32rem;
    }
}

.l-header-item {
    color: var(--color--white);

    a {
        display: inline-block;
        position: relative;
        padding: 5rem 0;
        @include g.mq(md) {
            font-size: 16rem;
            font-weight: 800;
            line-height: 1.7;
            padding: 5rem 0;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1rem;
            background-color: var(--color--white);
            bottom: 0;
            left: 0;
            transform: scale(0, 1);
            transform-origin: center;
            transition: transform 0.3s;
        }
        @media (any-hover: hover) {
            &:hover {
                &::after {
                    transform: scale(1, 1);
                }
            }
        }
    }
}

.l-header-menu-button {
    width: 64rem;
    height: 64rem;
    background-color: var(--color-bg-base);
    cursor: pointer;
    position: relative;
    margin-left: auto;

    @include g.mq(md) {
        display: none;
    }

    span {
        position: absolute;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        width: 20rem;
        height: 1rem;
        background-color: var(--color-font-base);
    }
    span:nth-child(1) {
        top: 17rem;
    }
    span:nth-child(2) {
        top: 24rem;
    }
    span:nth-child(3) {
        top: 31rem;

        &::after {
            content: "menu";
            position: absolute;
            top: 4rem;
            left: -9rem;
            color: var(--color-font-base);
            font-family: var(--font-family-en);
            font-size: 12rem;
            text-transform: uppercase;
        }
    }
}

.l-header-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 64rem;
    height: 64rem;
    background-image: var(--color-bg-gradient-blue);
    transition: background-image 0.5s;
    @include g.mq(md) {
        width: 181rem;
        height: 106rem;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    @media (any-hover: hover) {
        &:hover {
            background-image: var(--color-bg-gradient-blue-hover);
        }
    }
}

.l-header-entry-wrapper {
    @include g.mq(md) {
        display: flex;
        align-items: center;
        gap: 38rem;
    }
}

.l-header-entry-text {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.l-header-entry-en {
    color: var(--color--white);
    display: block;
    font-size: 14rem;
    line-height: 1;
    font-family: var(--font-family-en);
    font-weight: 400;

    @include g.mq(md) {
        font-size: 20rem;
        letter-spacing: 0.04em;
    }
}

.l-header-entry-ja {
    color: var(--color--white);
    white-space: nowrap;
    font-size: 10rem;
    line-height: 1;
    font-weight: 800;

    @include g.mq(md) {
        font-size: 12rem;
        letter-spacing: 0.025em;
    }
}

.l-header-entry-arrow {
    display: none;

    @include g.mq(md) {
        display: block;
        width: 24rem;
        height: 24rem;

        img {
            width: 100%;
            height: 100%;
        }
    }
}
