@use "../../global" as g;

/*!
page > top > top-news
------------------------------
*/

.news {
    padding: 56rem 20rem;
    @include g.mq(md) {
        padding: 0;
        width: 1370rem;
    }
}

.news-container {
    @include g.mq(md) {
        padding: 64rem 130rem 0 120rem;
        position: relative;
        background-color: var(--color-bg-base);
        top: -80rem;
        left: 0;
        z-index: 10;
    }
}

.news-content-container {
    @include g.mq(md) {
        display: flex;
        gap: 56rem;
        align-items: center;
    }
}

.news-card-container {
    margin-top: 32rem;
    display: flex;
    gap: 24rem;
    overflow-x: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    @include g.mq(md) {
        gap: 32rem;
        overflow-x: visible;
    }
}

.news-card-item {
    width: 257rem;
    height: auto;

    img{
        transition: scale 0.3s;
    }

    @include g.mq(md) {
        width: 300rem;
    }

    @media (any-hover: hover) {
        &:hover {
            img {
                scale: 1.05;
            }
        }
    }
}

.news-card-item-image {
    display: block;
    overflow: hidden;
    width: 257rem;
    height: 171rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include g.mq(md) {
        width: 300rem;
        height: 200rem;
    }
}

.news-card-item-content-tag-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.news-card-item-content-tag {
    color: var(--color-font-light);
    font-size: 14rem;
    line-height: 1.7;
    margin-top: 12rem;
}

.news-card-item-content-date {
    color: var(--color-font-light);
    font-size: 14rem;
    line-height: 1.7;
    font-family: var(--font-family-en);
}

.news-card-item-content-title {
    font-size: 18rem;
    line-height: 1.5;
    font-weight: 700;
    margin-top: 7rem;

    @include g.mq(md) {
        font-size: 20rem;
    }
}

.news-button {
    margin-top: 32rem;
    margin-left: auto;
    @include g.mq(md) {
        margin-left: 0;
    }
}
